body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.header .MuiLink-root, .footer .MuiLink-root {
  color: #fff;
  padding: 15px;
  transition: ease .3s color;
}

.header .MuiLink-root:hover {
  color: #e7e7e7;
  text-decoration: none;
}

h2, h3, h4, h5 {
  margin-top: 0;
}

.switcher {
  list-style: none;
  position: absolute;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  margin: 0;
  padding: 0;
  color: #fff;
  display: flex;
}

.switcher a {
  text-decoration: none;
  color: #fff;
  transition: color .2s ease;
}

.switcher a:hover {
  color: #e8e8e8;
}

h1 {
  margin-bottom: 80px;
  text-align: center;
}
